<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no">
    <title>{{title}}</title>
    <link rel="stylesheet" href="http://cdn.static.runoob.com/libs/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="http://cdn.static.runoob.com/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="http://cdn.static.runoob.com/libs/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <style>
        div.item {
            height: 100%;
            width: 100%;
        }

        .carousel-inner {
            margin: 0 auto;
            width: 400px;
            height: 100px;
        }
    </style>
    <script src="../static/js/in.js"></script>
</head>
<body>

<div class="container">
    <div class="row">
        <h2 class="pull-center" style="color: rgb(165, 156, 122);">{{title}}</h2></div>
    <div class="row">
        <div class="pull-right"><span class="glyphicon glyphicon-exclamation-sign"
                                      style="color: rgb(255, 0, 0);"> <strong>{{ info }}</strong></span><br></div>
    </div>

    <div class="row">
        <div class="body">
            <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">

                <div class="carousel-inner" role="listbox">
                    {% for img in imgs %}
                        <div class="item {% if not forloop.last %}active{% endif %}">
                            <img src="../static/img/{{img}}.jpg">
                        </div>
                    {% empty %}
                    <div>抱歉，没有内容</div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
    <br>
    <div class="row col-lg-4 col-sm-6 hide">
                <div class="row input-group">
                    <input type="text" class="form-control"  id="Search_NameContains">
                    <span class="input-group-btn">
                        <button class="btn btn-default" type="button" id="search">Go!</button>
                    </span>
                </div>
     </div>
    <br>
    <br>
    <br>
    <div class="row">
        <ul class="list-group col-lg-12 col-sm-12 col-xs-12 col-xxs-12">
            <li class="list-group-item">No result found
                <span class="glyphicon glyphicon-fire pull-right" style="color: rgb(234, 51, 65);"> hot</span>
            </li>
        </ul>
<div class="row" style="margin-top: 15px;">
   <div class="col-lg-12 col-sm-12 col-xs-12 col-xxs-12">
      <div style="font-size: 14px;">共<label style="color: #20A8D8; font-size: 14px;" id="pageCount">0</label>条记录</div>
   </div>
</div>
<div class="row">
  <div class="col-lg-12 col-sm-12 col-xs-12 col-xxs-12">
      <div id="MainContent_AspNetPager_Msg" class="paginator">
      </div>
      <div class="hidden" id="CurrentPageSize">1</div>
  </div>
 </div>
    </div>
    <br>
    <br>
    {% include 'bottom.html' %}
</div>
</body>
</html>