<!DOCTYPE html> 
<html lang="zh-cn" xmlns="http://www.w3.org/1999/xhtml"> 
<head> 
<meta charset="utf-8" /> 
    <title>搬運工-vidio</title>
    <link rel="stylesheet" href="http://cdn.static.runoob.com/libs/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="http://cdn.static.runoob.com/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="http://cdn.static.runoob.com/libs/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head> 
<body>
<br>
<div class="pull-left row col-lg-12 col-sm-12 col-xs-12 col-xxs-12" id="iframe">
    <h3>&nbsp;&nbsp;{{ title }}</h3>
</div>
<div class=" row col-lg-11 col-sm-11 col-xs-12 col-xxs-12" id="iframe" center>
<br>
<iframe width="852" height="480"  src='{{ url }}'  allowfullscreen webkitallowfullscreen mozallowfullscreen oallowfullscreen msallowfullscreen></iframe>
</div>
</body> 
</html>